<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageTitle%></title>
</head>
<body>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </div><br>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" id="title">
    </div><br>
    <div>
      <label for="password">password:</label>
      <input type="text" name="password" id="password">
    </div>
    <div><br>
      <button type="submit">Login</button>
    </div>
  </form>
</body>
</html>
