.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;

  label {
    width: 100%;
    text-align: start;
  }

  textarea, input {
    width: 170px;
  }

  textarea {
    resize: none;
    height: 3.5rem;
  }
}
