.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.8rem;
  padding: 1rem;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      height: 3.5rem;
      width: 170px;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin-top: 1rem;
      align-self: end;
    }
  }
}
