.form {
  margin: 10% auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16.5rem;
  width: 14rem;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: auto;

  .radio-buttons {
    display: flex;
    gap: 1rem;
    font-family: 'Bebas Neue', sans-serif;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
  }
}
