.container {
  max-width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-self: center;
  gap: 1rem;
  padding: 1rem;

  .aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    form {
      padding: 0.8rem;
      background: #ffffff;
      border-radius: 3px;
    }

    section:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: small;

        span:first-of-type {
          font-weight: bold;
        }
      }

      p:last-of-type {
        line-height: 2;
        border-bottom: 1px solid #000;
      }

      > button {
        width: 150px;
        padding: 0.5rem;
        align-self: center;
        border-radius: 20px;
        font-weight: bold;
        transition: 0.5s ease;
        cursor: pointer;
      }

      > button:last-of-type {
        background: #d04121cd;
      }

      > button:first-of-type {
        background: #88df45b7;
      }

      > button:hover {
        filter: brightness(120%);
      }
    }

    section:last-of-type {
      display: flex;
      justify-content: center;
      gap: 2rem;

      p {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin: 0;

        a {
          text-decoration: none;
          font-family: 'Bebas Neue', sans-serif;
          color: #000;
        }
      }
    }
  }
}
