.slider {
  position: relative;
  flex: 1;

  span {
    color: white;
    position: absolute;
  }
}

.shape1, .shape2, .shape3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.shape1 { background: linear-gradient(to right, #4286f4, #4e5360) }
.shape2 { background: linear-gradient(to right, #BE5869, #4e5360) }
.shape3 { background: linear-gradient(to right, #99f2c8, #1f4037) }

@media screen and (min-width: 320px) and (max-width: 896px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .slider {
    span {
      font-size: 0.5rem;
    }
  }
}
