.container {
  position: relative;
  flex: 1;

  .clippath {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;

    span {
      position: absolute;
      text-align: center;

      &:first-of-type {
        color: #ffffff;
        width: 54px;
        font-size: 0.8rem;
        top: 24%;
        left: 9.6%;
      }

      &:last-of-type {
        width: 80px;
        top: 17%;
        left: 61.5%;
      }
    }

    h2 {
      position: absolute;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 400;

      &:first-of-type {
        color: #ffffff;
        top: 30%;
        right: 20%;
      }

      &:last-of-type {
        color: #414345;
        left: 48%;
      }
    }

    img {
      position: absolute;
      bottom: 0;

      &:first-of-type {
        width: 150px;
        left: 25%;
      }

      &:last-of-type {
        width: 240px;
        right: 20%;
      }
    }
  }

  > img {
    position: absolute;
    bottom: 0;

    &:first-of-type {
      width: 150px;
      left: 25%;
    }

    &:last-of-type {
      width: 180px;
      right: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 896px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .container {
    .clippath {
      span {
        &:first-of-type {
          width: 32px;
          font-size: 0.46rem;
        }

        &:last-of-type {
          width: 50px;
          font-size: 0.54rem;
        }
      }

      h2 {
        font-size: 0.9rem;
      }

      img {
        &:first-of-type {
          width: 80px;
        }

        &:last-of-type {
          width: 128px;
        }
      }
    }

    > img {
      &:first-of-type {
        width: 80px;
      }

      &:last-of-type {
        width: 96px;
      }
    }
  }
}
