.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    text-wrap: nowrap;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 225px;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 896px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .container {
    .row {
      img {
        width: 125px;
      }
    }
  }
}
