.conversation {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background: linear-gradient(to bottom, #f1f1f1, #eae6e1);

  .recipient {
    display: flex;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 1;

    img {
      object-fit: cover;
      border-right: 1px solid #000;
    }

    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2,
      p {
        margin: 0;
        color: #4b4a47;
      }

      h2 {
        padding: 0 1rem;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
        font-style: italic;
        font-weight: 100;
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px #181818b4;
      }

      p {
        display: flex;
        flex-direction: column;
        padding: 0.2rem 1rem;
        text-transform: capitalize;
        font-size: 0.8rem;
      }
    }

    button {
      margin-left: auto;
      padding: 0 1.5rem;
      border: none;
      border-left: 1px solid #000;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.5rem;
      cursor: pointer;
      color: #4b4a47;
      background: #e9e4f0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .conversation {
    .recipient {
      .product {
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.6rem;
        }
      }
      button {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .conversation {
    .recipient {
      position: relative;
    }
  }
}
