.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  > ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
    margin: 0;
    padding: 1rem;
    list-style: none;
  }

  > form {
    position: sticky;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #000;
    background: linear-gradient(to bottom, #f1f1f1, #eae6e1);

    textarea {
      flex: 1;
      resize: none;
      border: 1px solid #000;

      &:focus {
        outline: none;
      }
      &:hover {
        border-color: #000;
      }
    }

    button {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      border: 1px solid #000;
      border-left: none;
      color: #4b4a47;
      background: #e9e4f0;
      transition: 0.5s ease-in-out;

      &:hover {
        text-shadow: var(--text-shadow);
        background-color: #d5c2ee;
        color: #f1f1f1;
      }
    }
  }
}

@media screen and (max-width: 512px) and (orientation: landscape) {
  .messages {
    > form {
      position: relative;
    }
  }
}
