.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin: 0;

  .info {
    h2,
    p {
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 100;
      margin: 0;
      color: rgb(79, 79, 79);
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
