.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;

  h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    margin: 0;
    font-style: italic;
    border-bottom: 1px solid #000;
  }

  .search {
    border-radius: 5px;
    height: 20px;
    width: 200px;
  }

  .products {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
