.search {
  margin: 1rem auto 0;
  border-radius: 5px;
  height: 20px;
  width: 200px;
}

.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0;

  .fallback {
    position: absolute;
  }
}

@media screen and (max-width: 420px) {
  .products {
    .fallback {
      position: relative;
    }
  }
}
