.nav {
  background: linear-gradient(to right, #232526, #414345);
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: start;
  overflow: auto;

  h2 {
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    font-family: 'Bebas Neue', sans-serif;
    text-wrap: nowrap;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0 1rem 0 0;
    gap: 1rem;
    padding: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      transition: 0.4s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      button {
        color: #ffffff;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        font-size: 1.2rem;
        transition: 0.4s ease-in-out;

        &:hover {
          color: #beb8b8;
        }
      }
    }
  }
}

.active-tab {
  margin-top: 0.1rem;
  border: 0.05rem solid #d8cccc;
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}

@media screen and (max-width: 440px) and (orientation: landscape) {
  .nav {
    h2 {
      margin: 0 1rem;
      font-size: 0.5rem;
    }
    ul {
      margin: 0 0.5rem 0 0;
      padding: 0.25rem;

      li {
        button {
          font-size: 0.4rem;
        }
      }
    }
  }

  .active-tab {
    border-width: 0.03rem;
  }
}
